<div fxLayout="column" fxFlex class="dark-theme">

  <md-toolbar color="primary">
    <span>Student Viewer</span>
    <span fxFlex></span>
  </md-toolbar>

  <md-sidenav-container fxFlex>

    <student-sidenav [students]="students" (selectedStudent)="onStudentSelected($event)"> </student-sidenav>

    <student-detail fxFlex [selectedStudent]="selectedStudent"> </student-detail>
    <!--<student-detail></student-detail>-->
  </md-sidenav-container>

  <button md-fab (click)="openStudentDialog()" class="fab-bottom-right">
    <md-icon>add</md-icon>
  </button>

</div>
